# React
node_modules/
dist/

# Python
venv/
__pycache__/
*.pyc

# środowisko
.env

# baza
*.db

# obrazy tymczasowe
processed_images/
images/

# wygenerowane i lokalne książki
backend/books/
backend/prepared_books/

# VSCode
.vscode/

# system
.DS_Store
